AWS_ACCESS_KEY=xxxxxxxxxxxx
AWS_ACCESS_SECRET=xxxxxxxxxxxx
AWS_REGION=eu-west-1
TWITCH_CHANNEL=YOUR_TWITCH_CHANNEL

SAY_COMMAND=!say
SAY_DEFAULT_VOICE=Brian
SAY_CONCAT_TEXT=said
SAY_COOLDOWN=10
SAY_MAX_LENGTH=0

# Commend line bellow to disable
PLAY_COMMAND=!play
PLAY_COOLDOWN=60